
<launch>
  <!-- Arguments -->
  <arg name="namesp" default="vox"/>
  <arg name="odom_topic" default="/$(arg namesp)/odom" />
  <arg name="move_forward_only" default="false"/>
  <!-- <include file="$(find vox_navigation)/launch/amcl.launch">
    <arg name="namesp" value="$(arg namesp)"/>
  </include> --> 
  <!--Will not work on partial map will induce noise would have to use ekf instead-->

  <include file="$(find vox_navigation)/launch/gmapping.launch">
    <arg name="namesp" value="$(arg namesp)"/>
  </include>

   <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 map base_link 0" /> -->
   
  <!-- move_base -->
  <group ns="$(arg namesp)" if="false">
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      <rosparam file="$(find vox_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find vox_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find vox_navigation)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find vox_navigation)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find vox_navigation)/config/move_base_params.yaml" command="load" />
      <rosparam file="$(find vox_navigation)/config/teb_local_planner_params.yaml" command="load" />
      <param name="global_costmap/global_frame" value="$(arg namesp)/map"/>
      <param name="global_costmap/robot_base_frame" value="$(arg namesp)/dummy_link"/>
      <param name="global_costmap/scan/sensor_frame" value="$(arg namesp)/sensor_link"/>
      <param name="global_costmap/scan/topic" value="/$(arg namesp)/scan"/>    
      <param name="local_costmap/global_frame" value="$(arg namesp)/odom"/>
      <param name="local_costmap/robot_base_frame" value="$(arg namesp)/dummy_link"/>
      <param name="local_costmap/scan/sensor_frame" value="$(arg namesp)/sensor_link"/>
      <param name="local_costmap/scan/topic" value="/$(arg namesp)/scan"/>
      <param name="local_costmap/obstacle_layer/sensor/topic" value="/$(arg namesp)/scan"/>
      <param name="TebLocalPlannerROS/odom_topic" value="/$(arg namesp)/odom"/>
      <param name="TebLocalPlannerROS/map_frame" value="$(arg namesp)/map"/>
      <remap from="odom" to="$(arg odom_topic)"/>
    </node>
  </group>
</launch>
