<launch>
    <!-- Gazebo parameters -->
  <arg name="world" default="empty"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <arg name="ps" default="ps1" />
    <arg name="world_file" value="$(find vox_description)/world/arena1.world" 
        if="$(eval arg('ps') == 'ps1')" />
    <arg name="world_file" value="$(find vox_description)/world/arena2.world" 
        if="$(eval arg('ps') == 'ps2')" />
    <arg name="world_file" value="$(find vox_description)/world/arena3.world" 
        if="$(eval arg('ps') == 'ps3')" />
    <arg name="world_file" value="$(find vox_description)/world/arena4.world" 
        if="$(eval arg('ps') == 'ps4')" />
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  
  <param name="robot_description" command="cat $(find vox_description)/urdf/voxbot.urdf"/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -param robot_description -model vox -x $(arg x) -y $(arg y) -z $(arg z)"
    output="screen" />
  
  <include file="$(find vox_control)/launch/control.launch" /> 
  
  
  
  
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
</launch>