<launch>
    <!-- Gazebo parameters -->
  <arg name="world" default="empty"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <arg name="ps" default="ps1" />
    <arg name="world_file" value="$(find voxbot)/arenas/arena1.world" 
        if="$(eval arg('ps') == 'ps1')" />
    <arg name="world_file" value="$(find voxbot)/arenas/arena2.world" 
        if="$(eval arg('ps') == 'ps2')" />
    <arg name="world_file" value="$(find voxbot)/arenas/arena3.world" 
        if="$(eval arg('ps') == 'ps3')" />
    <arg name="world_file" value="$(find voxbot)/arenas/arena4.world" 
        if="$(eval arg('ps') == 'ps4')" />
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

    <include file="$(find voxbot)/launch/robot_load_gazebo.launch">
        <arg name="namesp" value="vox1"/>
        <arg name="x" value="-0.28"/>
        <arg name="y" value="1.2"/>
        <arg name="z" value="0.2"/>
    </include> 
    <include file="$(find voxbot)/launch/robot_load_gazebo.launch">
        <arg name="namesp" value="vox2"/>
        <arg name="x" value="-0.14"/>
        <arg name="y" value="1.2"/>
        <arg name="z" value="0.2"/>
    </include> 
    <include file="$(find voxbot)/launch/robot_load_gazebo.launch">
        <arg name="namesp" value="vox3"/>
        <arg name="x" value="0.14"/>
        <arg name="y" value="1.2"/>
        <arg name="z" value="0.2"/>
    </include> 
    <include file="$(find voxbot)/launch/robot_load_gazebo.launch">
        <arg name="namesp" value="vox4"/>
        <arg name="x" value="0.28"/>
        <arg name="y" value="1.2"/>
        <arg name="z" value="0.2"/>
    </include> 

  
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
</launch>