<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="namesp" default="vox"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>

   <group ns="$(arg namesp)">
        <param name="robot_description" command="$(find xacro)/xacro '$(find vox_description)/urdf/voxbot.xacro'"/>
    
    

    <node name="$(arg namesp)_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param /$(arg namesp)/robot_description -model $(arg namesp) namespace:=$(arg namesp) -x $(arg x) -y $(arg y) -z $(arg z)" />
    
        
    </group>      
    
    <include file="$(find vox_control)/launch/multi_control.launch">
            <arg name="namesp" value="$(arg namesp)"/>
    </include>
</launch>
